	#codecontainer{
			position:absolute;
			left:0px;
			right:0px;
			top:0px;
			bottom:0px;
	}
	
	@font-face {
			font-family:'RobotoThin';
			src: url('roboto-condensed.light-italic.ttf');
	}		

	pre{
			font-family:lucida console;
			font-size:13px;
	}
	
	body{
			font-family:arial narrow;
	}	
	
	.coderow{
			background-color:#fff;
	}
	.marked{
			background-color:#def;
			border:1px dotted red;
	}

	td {
			width:115px;
			padding:4px;
	}
	
	tr:nth-child(odd) {
			background: #fff;
	}

	tr:nth-child(even) {
			background: #ddd;
	}	
	
	th{
			background:#000;
			color:#fff;
	}
	
	table{
			border-collapse: collapse;
			border:2px solid black;
	}
	
	#pointer {
		position:absolute;
		left:8px;
  	transition: top 0.2s;
}
	
	.codebox{
			margin-left:35px;
			box-shadow:1px 2px 4px #888;
			width:615px;
			padding:4px;
	}
	
	#output{
			position:absolute;
			left:675px;
			top:8px;
			bottom:600px;
			right:0px;
	}
	